[submodule "lib/uiGradients"]
	path = lib/uiGradients
	url = https://github.com/Ghosh/uiGradients.git
[submodule "lib/6330907"]
	path = lib/compressHTML
	url = https://gist.github.com/6330907.git
[submodule "lib/5512dcbbec82703020db"]
	path = lib/shortHexColor
	url = https://gist.github.com/5512dcbbec82703020db.git
[submodule "lib/phpMinimize"]
	path = lib/phpMinimize
	url = https://github.com/cecilomar/phpMinimize.git
